# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment & Keys
.env
*.iml

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/engine/
Pods/
Podfile.lock

# Android
android/.gradle/
android/app/debug
android/app/profile
android/app/release
